<html>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <font color="white">Spring Boot</font>
  </nav>
  <form id="create" th:action="@{/persons}" th:object="${personCommand}" method="post">
  	<label for="nickname">Nickname:</label>
  	<input type="text" name="nickname" th:field="*{nickname}" placeholder="nickname" id="nickname"/>
  	<label th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></label>
  	<br/>
  	<label for="email">Email:</label>
  	<input type="text" name="email" th:field="*{email}" placeholder="email" id="email"/>
  	<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
  	<br/><br/>
  	<button id="btn-success" type="submit">Submit</button> 
  </form>
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <a class="navbar-brand" href="https://github.com/josdem/spring-boot-workshop">josdem 2018</a>
    </nav>
  </footer>
</body>
</html>